/* start of styling of the header picture */

.header{
    text-align: center;
    color: white;
    padding-top: 245px;
    margin-left:0 auto;
}
#header{
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 755px;
}
h1{
    line-height: 200%;
    padding-top:20px;
}
#mouse{
    padding-top: 155px;
} 
#headp{
    line-height: 0%;
    font-size: 12px;
}
/*End of header styling*/
/* Styling of the about us section*/
h3{
    text-align: center;
}
.about{
    padding:35px;
    text-align: center;
}
p{
    line-height: 200%;
}
/* End of about styling*/

/*Styling the services section*/
.services{
    text-align: center;
    color:white;
    padding:102px;
}
#services{
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
