/* start of styling of the header picture */

/* .header{
    background-image: url("../images/1.jpg");
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    height: 750px;
    width: 1320px;
    padding-top: 245px;
    font-size:12px;
}
h1{
    line-height: 200%;
    padding-top:20px;
}
#mouse{
    padding-top: 120px;
} */
/*End of header styling*/
