/* start of styling of the header picture */

.header{
    text-align: center;
    color: white;
    padding-top: 245px;
    margin-left:0 auto;
}
#header{
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 755px;
}
h1{
    line-height: 200%;
    padding-top:20px;
}
#mouse{
    padding-top: 155px;
} 
#headp{
    line-height: 0%;
    font-size: 12px;
}
/*End of header styling*/
/* Styling of the about us section*/
h3{
    text-align: center;
}
.about{
    padding:35px;
    text-align: center;
}
p{
    line-height: 200%;
}
/* End of about styling*/

/*Styling the services section*/
.services{
    text-align: center;
    color:white;
    padding:102px;
}
#services{
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
/*End of service section*/

/*Styling the service icons*/
#Sicons{
    text-align:center;
}
#h3{
    margin-bottom: 30px;
}
#des1,#des2,#des3{
    display:none;
}
/*End of what we do styling*/

/*Styling of portfolio*/
#portfolio{
    width:80%; 
    margin-left:10%;
    margin-top: 5%; 
}
#port1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:2%;
}
#port2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
} 
#words, #words2{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    font-weight:50;
}

.word2>p,.word6>p{
    color: black;
    position:relative;
    bottom: 300%;
    right:130px;
    font-size:20px;
}
.word1>p,.word5>p{
    position:relative;
    bottom: 300%;
    right: 400px; 
    font-size:20px;
}
.word3>p,.word7>p{
    position:relative;
    bottom: 300%;
    left:130px;
    font-size:20px;
}
.word4>p,.word8>p{
    position:relative;
    bottom:300%;
    left: 400px;
    font-size:20px;
}